<div data-role="header">
  <h1>Articles</h1>
	<% if current_user %>
		<%= link_to 'Add', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
	<% end %>
	<%= link_to 'Refresh', posts_path, "data-icon" => "refresh", "class" => "ui-btn-left", "data-iconpos" => "notext" %>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <% @posts.each do |post| %>
    <li data-theme="a">
      <%= link_to post.title, post %><span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><%= post.comments.size %></span>
      <% if current_user %><%= link_to 'edit post', edit_post_path(post), "data-icon" => "gear", "data-theme" => "a" %><% end %>
    </li>
    <% end %>
  </ul>
</div>


<div data-role="footer">
	<div data-role="navbar">
		<ul>
			<% if current_user %>
			  <li>
					<%= link_to 'Log out', log_out_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
				</li>
			<% else %>
			  <li>
			  	<%= link_to 'Sign up', sign_up_path, "data-icon" => "plus", "class" => "ui-btn-left" %>
					<%= link_to 'Log in', log_in_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
			  </li>
			<% end %>
		</ul>
	</div>
</div>
