<h1>Listing Articles</h1>

<table border="0" cellpadding="5" cellspacing="5">
<% @posts.each do |post| %>
  <tr valign="top" bgcolor="<%= cycle('', '#eee') %>">
    <td valign="top">
			<strong><%= link_to post.title, post %></strong>&nbsp;(<em><%= pluralize(post.comments.size, 'comment') %></em>)&nbsp;
			<% if current_user %><%= link_to 'Edit', edit_post_path(post) %><% end %>&nbsp;
			<% if current_user %><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %><% end %><br>
			<em><%= time_ago_in_words(post.created_at) %> ago</em><br>
			<%= post.content %>
	  </td>
  </tr>
<% end %>
</table>

<br />
<% if current_user %>
	<%= link_to 'New Article', new_post_path %>
<% end %>

