<div data-role="header">
  <h1><%= @post.title %></h1>
	<%= link_to 'Home', posts_url, "class" => "ui-btn-right", "data-icon" => "home", "data-iconpos" => "notext" %>
	<%= link_to 'Back', root_url, "data-rel" => "back", "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
</div>
 
<div data-role="content" data-theme="a">
  <%= @post.content %>
	<%= render 'comment' %>
	<%= render 'comment_form' %>
</div>
