<div data-role="header">
  <h1><%= @post.title %></h1>
	<%= link_to 'Home', posts_url, "class" => "ui-btn-right", "data-icon" => "home", "data-iconpos" => "notext" %>
	<%= link_to 'Back', root_url, "data-rel" => "back", "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
</div>
 
<div data-role="content" data-theme="a">
  <%= @post.content %>
	<p><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:send href="<%= url_for(:action => 'show', :controller => 'posts', :only_path => false) %>" font=""></fb:send>
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= @post.title %>" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</p>
	<%= render 'comment' %>
	<%= render 'comment_form' %>
</div>
