<div class="toolbar">
  <h1><%= @post.title %></h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <%= @post.content %>
</p>
<p><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:send href="<%= url_for(:action => 'show', :controller => 'posts', :only_path => false) %>" font=""></fb:send>
<a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= @post.title %>" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</p>

<%= render 'comment' %>
<%= render 'comment_form' %>
 
<br />
<% if current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

<script type="text/javascript"> 
	function brushWidth(newValue)
	{
		document.getElementById("range").innerHTML=newValue;
	}
</script>
