<div data-role="header">
  <h1><%= @post.title %></h1>
  <%= link_to 'Home', posts_url, "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <%= @post.content %>
	
	<% if @post.comments.size > 0 %>
	<h2>Comments:</h2>
    <% @post.comments.each do |comment| %>
    <p>
      By: <%= comment.commenter %><br>
      <%= comment.body %><br>
			<%= link_to 'Delete', [comment.post, comment], :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
    </p>
    <% end %>
		<% end %>

	<h2>Add a comment:</h2>
	<%= form_for([@post, @post.comments.build]) do |f| %>
	  <div class="field">
	    <%= f.label :commenter %><br />
	    <%= f.text_field :commenter %>
	  </div>
	  <div class="field">
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>

</div>
