<div class="toolbar">
  <h1><%= @post.title %></h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <%= @post.content %>
</p>

<%= render 'comment' %>
<%= render 'comment_form' %>
 
<br />
<% if current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

<script type="text/javascript"> 
	function brushWidth(newValue)
	{
		document.getElementById("range").innerHTML=newValue;
	}
</script>
